.App {
  text-align: center;
}

/* Form {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.Field {
  width: 25%;
  margin: 10px;
}

button {
  margin: 10px;
  background-color: blue;
  color: white;
} */